@import "tailwindcss";

:root {
  --earl: #E8E6D8;
  --blue: #892F1A;
  --yellow: #BDAF62;
  --choc: #624A41;
}

body {
  background-color: var(--earl);
  color: var(--choc);
}

/* Bloom utility classes */
.bg-bloom-blue {
  background-color: var(--blue);
}

.bg-bloom-yellow {
  background-color: var(--yellow);
}
